# PostgreSQL Database Connection
POSTGRES_DB=backend_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

# Prisma Database Connection URL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/backend_db?schema=public"

# Frontend Application Origin for CORS
FRONTEND_URL="http://localhost:3000"

# JWT Secrets
JWT_SECRET="your-access-token-secret-at-least-32-chars"
JWT_REFRESH_SECRET="your-refresh-token-secret-at-least-32-chars"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

# Telegram API Credentials
TELEGRAM_CLIENT_ID=your_telegram_client_id
TELEGRAM_CLIENT_SECRET=your_telegram_client_secret
TELEGRAM_REDIRECT_URI=your_telegram_redirect_uri
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
