# PostgreSQL Database Connection
POSTGRES_DB=backend_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

# Prisma Database Connection URL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/backend_db?schema=public"

# Frontend Application Origin for CORS
FRONTEND_URL="http://localhost:3000"
